:root {
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --grayish-blue-transparent: hsl(208, 11%, 55%, 50%);
}

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    padding: 0,5em 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}


header {
background-color: var(--very-pale-cyan);
background-image: url(images/bg-hero-desktop.svg);
background-repeat: no-repeat;
background-size: cover;
}

.container {
    margin: 0 auto;
    width: 90vw;
    max-width: 1296px;
    display: grid;
}

.nav {
    padding: 2em 0;
}

.nav_logo {
    float: left;
}

.nav_button {
    background-color: white;
    color: black;
    float: right;
    font-weight: 700;
    padding: 0.8rem 4rem;
}

.button {
    border-radius: 20px;
    box-shadow: 0px 3px 5px var(--grayish-blue-transparent);
    font-size: 0.7rem;
    border-radius: 20px;
    box-shadow: 0px 3px 5px var(--grayish-blue-transparent);
    font-size: 0.7rem;
}

.head {
    display: flex;
    padding: 3rem 0;
}

.head_text {
    padding: 2rem 0;
    width: 45%;
    max-width: 580px;
}

.head_text h1 {
    font-size: 2.5rem;
}

.head_text p {
    font-size: 1.2rem;
    line-height: 1.5em;
    padding: 1rem 0 3rem 0;
}

.head_img {
    width: 50%;
    margin: 0 auto;
}

.head_button,
.card_button {
    padding: 1em 5em;
    background-color:hsl(322, 100%, 66%);
    color: white;
    font-weight: 700;
}

main {
    padding: 4rem 0;
}

.card {
    display: flex;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--grayish-blue-transparent);
    margin: 3rem auto;
    padding: 4rem 2rem;
  }

  .card_text {
      margin: auto 0;
      max-width: 45%;
      padding: 0 2rem 0 6rem;
  }

  h2 {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 1.8rem;
  }

  .card_text p {
    font-size: 1.2rem;
    color: var(--grayish-blue);
    line-height: 1.5em;
  }

  .card_img {
      max-width: 40%;
  }

  .card--left {
      flex-direction: row;
  }

  .card--right {
        flex-direction: row-reverse;
  }

.card--small {
    background-color: white;
    flex-direction: column;
    width: 60%;
    z-index: 1;
    text-align: center;
}

.card--small h2,
a {
    margin: 0 auto;
    z-index: 1;
}

footer {
    margin-top:-20vw;
    padding-top: 20vw;
    background-color: hsl(192, 100%, 9%);
    color: white;
    z-index: -1;
}

.footer_list {
  padding: 2rem 0;
  display: flex;
}

.footer_logo {
    filter: invert(1) saturate(0) brightness(2) contrast(1); 
  }

  .list {
    width: 20%;
    padding-right: 5%;
  }
  
  .contact-list {
    width: 40%;
  }

  .list li {
      margin:1rem 0;
      list-style-type: none;
  }

  .contact-list li {
    padding-bottom: 1rem;
    display: flex
  }

  img.list-icon {
    margin: 0.2rem 1rem auto 0;
  }

  .sns-list {
    display: flex;
  }

  .sns-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid;
    border-radius: 50%;
    margin: 0 0.3em;
  }

  p.copyright {
    text-align: right;
    color: var(--very-pale-cyan);
  }